.payment-form form .child .card {
    width: 18rem;
}

.payment-form form .child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px 0px 20px 0px;
}

.payment-form form .child .card .card-body label {
    margin-top: 15px;
}

#transferdate {
    width: fit-content;
    text-align: center;
    margin-top: 10px;
}

.payment-form form .child label {
    margin-top: 15px;
}

.payment-form form #submit {
    margin-top: 10px;
}


.result-card {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.result-card .card-img {
    padding: 50px;
}

.navbar {
    height: 80px;
}

.navbar span {
    margin-left: 20px;
}

.navbar .btn-light a {
    text-decoration: none;
}

.navbar .btn-light {
    margin-right: 20px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }


#dashboard {
    margin: 30px 60px 30px 60px;
}